/*-------------------------------------------*\
    External Imports
\*-------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*-------------------------------------------*\
    Global Variables
\*-------------------------------------------*/
:root {
    --salmon: rgb(250, 139, 129);
    --teal: rgb(1, 148, 148);
    --body-background-color: whitesmoke;
    --forecast-card-width: 175px;
    --main-section-height: 465px;

    --current-weather-font-color: black;
    --chart-tab-font-color: var(--teal);
    --muted: #6c757d;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: var(--body-background-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/*-------------------------------------------*\
    General Styling
\*-------------------------------------------*/
h1, h2, h3, h4, h5, h6 { margin: 0;}
h2 {
    color: var(--current-weather-font-color);
    border-bottom: 1px solid teal;
    padding-bottom: 10px;
}
.section-spacing { margin: 0 0 50px 0; }
.text-shadow {
    text-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
}
.box-shadow {
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
}
.drop-shadow {
    filter: drop-shadow(0 1px 1px hsl(0deg 0% 0% / 0.075))
    drop-shadow(0 2px 2px hsl(0deg 0% 0% / 0.075))
    drop-shadow(0 4px 4px hsl(0deg 0% 0% / 0.075))
    drop-shadow(0 8px 8px hsl(0deg 0% 0% / 0.075))
    drop-shadow(0 16px 16px hsl(0deg 0% 0% / 0.075));
}

/*-------------------------------------------*\
    Header
\*-------------------------------------------*/
#header {
    background-image: url("../img/sky-unsplash.png");
    background-size: cover;

    padding-right: 3rem;
    padding-left: 3rem;
}

#navbar {
    padding: 30px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#navbar a { text-decoration: none; }
#navbar .brand{
    display: flex;
    align-items: baseline;
}
#navbar .title {
    color: white;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    border-right: 3px solid var(--salmon);
    padding-right: 5px;
}
#navbar .subtitle {
    color: var(--teal);
    font-size: 0.85rem;
    padding-left: 6px;
}
#navbar .dark-background {
    height: 33px;
    color: white;
    background: #6c757d;
    padding: 6px 12px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
#navbar .searchbar-label {
    float: left;
    border-radius: 5px 0 0 5px;
    cursor: default;
}
#navbar .searchbar {
    width: 40vw;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    outline: 0;
}
#navbar .searchbar-button {
    float: right;
    cursor: pointer;
}
#navbar .dark-mode-button { border-radius: 0 5px 5px 0; }
#navbar .searchbar-button:hover {
    transition: 0.25s;
    background: #586169;
}

@media (max-width: 480px) { #header { padding-right: 2rem; padding-left: 2rem; } }
@media (max-width: 445px) { #header { padding-right: 1rem; padding-left: 1rem; } }
@media (max-width: 365px) { #header { padding-right: 0; padding-left: 0; } }

/*-------------------------------------------*\
    Main
\*-------------------------------------------*/
#main {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

/*-------------------------------------------*\
    Main - Weather & Map
\*-------------------------------------------*/

#main .weather-map {
    display: flex;
    flex-wrap: wrap;
}

/*-------------------------------------------*\
    Main - Current Weather
\*-------------------------------------------*/

#current-weather {
    width: 40rem;
    flex: 25rem;
    height: 350px;
}
#current-weather .date-time {
    color: var(--salmon);
    font-size: 16px;
}
#current-weather .city-country {
    border-bottom: 1px solid var(--teal);
    width: 300px;
    color: var(--current-weather-font-color);
    font-size: 32px;
}
#current-weather .container {
    position: relative;
    margin: 10px 0;
    height: 100px;
}
#current-weather .weather-icon {
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: grid;
    place-content: center;
}
#current-weather .current-temp {
    padding-left: 96px;
    font-size: 5rem;
    display: inline-block;
    color: var(--current-weather-font-color);
}
#current-weather .feels-like {
    color: var(--muted);
    font-size: 1.5rem;
    display: inline-block;
}
#current-weather .clouds-description {
    color: var(--current-weather-font-color);
    font-size: 24px;
    text-transform: capitalize;
}
#current-weather .details-section {
    border-left: 1px solid var(--teal);
    padding-left: 20px;
}
#current-weather ul {
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    padding: 0;
}
#current-weather li {
    margin: 5px 0;
}
#current-weather .details-style {
    font-size: 12px;
    color: var(--current-weather-font-color);
}

/*-------------------------------------------*\
    Main - Map
\*-------------------------------------------*/
#map {
    width: 40rem;
    flex: 25rem;
    height: var(--main-section-height);
    margin-bottom: 20px;
}

/*-------------------------------------------*\
    Main - 7 Day Forecast
\*-------------------------------------------*/

#daily-forecast {
    flex-basis: var(--main-section-height);
}
#daily-forecast .title{
    font-size: 32px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--teal);
    color: var(--current-weather-font-color);
}
#daily-forecast .card-container {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
#daily-forecast .card {
    width: var(--forecast-card-width);
    height: 400px;
    border: none;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
    background: linear-gradient(25deg, rgba(0,165,148,1) 0%, rgba(189,157,146,1) 100%, rgba(252,154,145,1) 100%);
}
#daily-forecast .card-body {
    position: relative;
    background: transparent;
}
#daily-forecast .day-time {
    position: absolute;
    top: 0;
    left: 0;

    width: 130px;
    height: 100px;

    overflow: hidden;
}
#daily-forecast .day {
    position: absolute;
    top: 10px;
    left: 10px;

    font-size: 20px;
    width: 100%;

    padding-bottom: 5px;
    border-bottom: 1px solid var(--salmon);

    color: white;
}
#daily-forecast .weather-icon {
    position: relative;
    top: 40px;
    width: var(--forecast-card-width);
    height: 200px;
    overflow: hidden;
}
#daily-forecast .weather-icon svg {
    position: absolute;
    right: -85px;
}
#daily-forecast .high-low{
    text-align: center;
    color: white;

    width: 50%;
    margin: 50px auto 0 auto;
    padding-bottom: 3px;

    border-bottom: 1px solid var(--salmon);
}
#daily-forecast .high {
    display: inline-block;
    font-size: 32px;
}
#daily-forecast .low {
    color: #d2d2d2;
    display: inline-block;
    font-size: 16px;
}
#daily-forecast .subscript {
    font-size: 75%;
}
#daily-forecast .clouds-description {
    text-align: center;
    text-transform: capitalize;
    color: white;

    padding-top: 5px;
}
#daily-forecast .readings {
    color: white;
    font-size: 12px;

    margin-top: 15px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

@media (max-width: 1350px) { #daily-forecast .card:nth-child(7) { display: none; } }
@media (max-width: 1175px) { #daily-forecast .card:nth-child(6) { display: none; } }
@media (max-width: 1000px) { #daily-forecast .card:nth-child(5) { display: none; } }
@media (max-width: 825px) { #daily-forecast .card:nth-child(4) { display: none; } }
@media (max-width: 650px) { #daily-forecast .card:nth-child(2) { display: none; } }
@media (max-width: 475px) { #daily-forecast .card:nth-child(1) { display: none; } }

/*-------------------------------------------*\
    Main - Hourly Readings
\*-------------------------------------------*/

#hourly-readings {
    flex-basis: var(--main-section-height);
}
#hourly-readings .title{
    font-size: 32px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--teal);
    color: var(--current-weather-font-color);
}
#hourly-readings .chart-container {
    width: 90%;
    height: 75%;
    margin: 50px auto;
}

/*-------------------------------------------*\
    Main - Top Stories
\*-------------------------------------------*/

#top-stories {
    flex-basis: 775px;
    margin-bottom: 10px;
}
#top-stories a{
    flex: 300px;

    text-decoration: none;
    text-transform: uppercase;

    display: flex;
    place-content: center;
}
#top-stories .title{
    font-size: 32px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--teal);
    color: var(--current-weather-font-color);
}
#top-stories .card-container {
    padding-top: 10px;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#top-stories .card {
    position: relative;
    width: 300px;
    height: 350px;
    border: none;
}
#top-stories img {
    height: 225px;
    width: 100%;
    object-fit: cover;
    display: block;
}
#top-stories .card-body {
    height: calc(100% - 225px);
    width: 100%;
    background: white;
    padding: 5px 10px;

    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 25px 1fr 25px;
    justify-content: space-between;
}
#top-stories .card-source {
    grid-column: span 2;
    color: black;
    font-size: 16px;
}
#top-stories .card-description {
    grid-column: span 2;
    color: black;
    font-size: 10px;
    padding: 0 10px;
    border-left: 1px solid var(--teal);
    overflow-y: hidden;
}
#top-stories .card-runner {
    text-align: left;
    align-self: end;
    color: var(--salmon);
    font-size: 12px;
}
#top-stories .arrow {
    text-align: right;
    align-self: end;
    color: var(--salmon);
    font-size: 12px;
}

@media (max-width: 1247px) { #top-stories a:nth-child(n+7) { display: none; } }
@media (max-width: 930px) { #top-stories a:nth-child(n+5) { display: none; } }

/*-------------------------------------------*\
    Main - Footer
\*-------------------------------------------*/
#footer {
    background: var(--teal);
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 25px 0;
}
#footer .title {
    border-bottom: 3px solid white;
    font-size: 32px;
    width: 100px;
    margin-bottom: 5px;
}
#footer .about-link {
    color: white;
    margin: 0 50px;
    align-self: center;
    justify-self: start;
}
#footer .top-link {
    margin: 0 50px;
    align-self: start;
    justify-self: end;
}
#footer ul{
    list-style: none;
}
#footer li{
    padding: 3px 0;
}
#footer a {
    text-decoration: none;
    color: var(--salmon);
}
#footer a:hover {
    color: white;
}
#footer .copyright {
    margin-top: 10px;
}
